body{
    margin:0;
    box-sizing: border-box!important;
}
h1,h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.3vw;

}
.container-images{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:lightblue;

}
.lazy-img{
   width: calc(100% - 2rem);
    
    
}
a{
    text-decoration: none;
}
.active{
    background-color: rgb(49, 7, 128);


  }

  .list-btn{
    /*border:1px solid rgb(224, 221, 221)!important;*/
    border-radius: 5px;
    box-shadow:0px 5px 5px gray;
  }

  .questions{
    max-width:800px;
    margin: 1rem auto;
  }
  .login{
    max-width: 600px;
    margin: 1rem auto;
  }
  